<?xml version="1.0" encoding="UTF-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.ross.glasseyes">

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
   <permission android:name="com.ross.glasseyes.permission.C2D_MESSAGE" android:protectionLevel="signature"/>

   <uses-permission android:name="com.ross.glasseyes.permission.C2D_MESSAGE"/>
   <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
   <uses-permission android:name="android.permission.WAKE_LOCK"/>
   <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
   <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
   <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity android:label="@string/app_name" android:name="com.ross.glasseyes.EyesActivity">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER"/>
            </intent-filter>
            <meta-data android:name="com.google.android.glass.VoiceTrigger" android:resource="@xml/say_hello"/>
        </activity>
        <service android:name=".GCMIntentService"/>
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.ross.glasseyes"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.ross.glasseyes"/>
            </intent-filter>
        </receiver>
    
        <activity android:launchMode="singleTop" android:name=".RegisterActivity"/>
</application>

    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT"/>
</manifest>
